
<div class="page">
  <h2 class="title bg-dark ps-3">Welcome {{ userId | titlecase }} to WatchIt!</h2>
  <!-- <img src="https://cdn.pixabay.com/animation/2022/10/06/19/34/19-34-14-12_512.gif" class="img-background" alt="planet"> -->
  <div class="card-container d-flex flex-row flex-wrap justify-content-around">
    <div class="card mt-2 grow-on-hover"
     *ngFor="let pop of popularList; let i = index">
     <a (click)="addToList(i)" style="cursor: pointer;">
      <img
      src="https://image.tmdb.org/t/p/original{{pop.backdrop_path}}" style="max-width: 15vw;"
      class="card-img-top img-fluid"
      alt="{{ pop.title }} || {{ name }}">

      <div class="card-body">
        <h5 class="card-title"><b>{{pop.title}}</b></h5>
        <p class="card-text"><i>Available Now!</i></p>
        <button class="btn btn-dark" (click)="addToList(i)"> FIND </button>
      </div>
      </a>
    </div>
    <button class="btn grow-on-hover" (click)="morePops()"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black" class="bi bi-arrow-clockwise" viewBox="0 0 16 16" style="background-color: white; border-radius: 15px">
      <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
      <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
    </svg></button>
  </div>
  <div class="nowList justify-content-center" style="margin-top: 50vh; background-color: transparent;">
    <app-list-page></app-list-page>
  </div>
</div>

<footer class="faq-body bg-dark">
  <h2 style="font-weight: bold; color: rgb(127, 242, 255);">FAQs</h2>
  <details>
    <summary>What is WatchIt?</summary>
    <div class="description">
      <p>WatchIt offers multiple choices for streaming services!</p>
    </div>
  </details>
  <details>
    <summary>How much does WatchIt cost?</summary>
    <div class="description">
      <p>WatchIt only costs $9.99/month!</p>
    </div>
  </details>
  <details>
    <summary>Can I cancel WatchIt?</summary>
    <div class="description">
      <p>Sorry to see you go. <u (click)="unSub()" style="cursor: pointer;">
        Unsubscribe Here.</u></p>
    </div>
  </details>
  <details>
    <summary> Follow us on WatchIt Knucklebusters🔥🤛👁️🤜🔥</summary>
    <div class="description">
      <p></p>
    </div>
  </details>
</footer>



