
<div class="page">
  <h2 class="title">Welcome {{ userId }} to WatchIt!</h2>
  <!-- <img src="https://cdn.pixabay.com/animation/2022/10/06/19/34/19-34-14-12_512.gif" class="img-background" alt="planet"> -->


  <div class="card-container d-flex flex-row flex-wrap justify-content-between">
    <div class="card">
      <img src="https://picsum.photos/200" class="card-img-top img-fluid" alt="random pictures">
      <div class="card-body">
        <h5 class="card-title">New Release!</h5>
        <p class="card-text">Watch Now!</p>
        <a href="#" class="btn btn-dark">Play now</a>
      </div>
    </div>
    <div class="card">
      <img src="https://picsum.photos/200" class="card-img-top img-fluid" alt="random pictures">
      <div class="card-body">
        <h5 class="card-title">New Release!</h5>
        <p class="card-text">Watch Now!</p>
        <a href="#" class="btn btn-dark">Play now</a>
      </div>
    </div>
  </div>

  <footer class="faq-body">
    <h2 style="font-weight: bold; color: rgb(127, 242, 255);">FAQs</h2>
    <details>
      <summary>What is WatchIt?</summary>
      <div class="description">
        <p>WatchIt offers multiple choices for streaming services!</p>
      </div>
    </details>
    <details>
      <summary>How much does WatchIt cost?</summary>
      <div class="description">
        <p>WatchIt only costs $9.99/month!</p>
      </div>
    </details>
    <details>
      <summary>Can I cancel WatchIt?</summary>
      <div class="description">
        <p>Sorry to see you go. <u>Unsubscribe Here.</u></p>
      </div>
    </details>
    <details>
      <summary> Follow us on WatchIt Knucklebusters🔥🤛👁️🤜🔥</summary>
      <div class="description">
        <p></p>
      </div>
    </details>
  </footer>

</div>

