*{
  padding: 0;
  margin: 0;
}

.page {
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  background-image: url('https://cdn.pixabay.com/animation/2022/10/06/19/34/19-34-14-12_512.gif');
  /* background-attachment: fixed; */
}

.title {
  width: 100%;
  background-color: rgb(48, 47, 47);
  color: rgb(127, 242, 255);
  margin-left: 0;
}

.faq-body {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  margin-left: 0;
  background-color: rgb(48, 47, 47);
  /* position: absolute;
  bottom: 0; */
}

summary {
  font-weight: 600;
  color: rgb(159, 150, 150);
  background-color: rgb(48, 47, 47);
  padding: 0.2rem;
  /* margin-bottom: 0.5rem; */
  border-radius: 0.2rem;
  cursor: pointer;
}

.description {
  font-weight: 300;
  color: rgb(127, 242, 255);
}

.card-container{
  /* width: 200px;
  height: 200px; */
  top: 200px;
  left: 100px;
}

.card {
  border-radius: 25px;
}

.card-body {
  text-align: center;
}

.card img {
  border-radius:25px;
}

.card:hover {
  transform: scale(1.2);
}

.btn-dark {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
